.question-number, .question-topic, th {
  text-align: center;
}


.table > tbody > tr> td, th {
  vertical-align: middle;
  text-align: center;
}

.overlay {
    position: absolute;
    z-index: 10;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,.5);
    overflow: hidden;

}

.blurred {
  filter: blur(2px);
  overflow-y: hidden;
}




h4 {
  margin-bottom: 10px;
  text-align: center;
}
button {
  margin: 5px;
}
