<div class="overlay" *ngIf="questionToEdit" >

<edit-initial  [questionToDisplay]="questionToEdit" (keepOrDiscard)="saveOrCancel($event)"></edit-initial>
</div>
<div *ngIf="!newQuestion">
<button (click)="newQuestion = true; blurBg = true;" class="btn btn-outline-success"><span class="fa fa-plus fa-lg"></span></button>
</div>
<div class="overlay" *ngIf="newQuestion">
  <new-initial (keepOrDiscard)="saveOrCancel($event)"></new-initial>
</div>
<div [ngClass]="{blurred: blurBg}">

<h1>All Questions in the Initial Assessment</h1>
<div class="container-fluid">

<table class="table table-responsive table-inverse table-striped table-bordered table-hover table-sm">
  <thead class="thead">
    <tr>
      <th>Question #</th>
      <th>Topic</th>
      <th>Question</th>
      <th>Correct</th>
      <th>Wrong #1</th>
      <th>Wrong #2</th>
      <th>Wrong #3</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let question of initialQuestionList | async">
      <td class="question-number" scope="row"><b>{{question.question_number}}</b></td>
      <td class="question-topic">{{question.topic}}</td>
      <td>{{question.question}}</td>
      <td>{{question.correct}}</td>
      <td>{{question.wrong_1}}</td>
      <td>{{question.wrong_2}}</td>
      <td>{{question.wrong_3}}</td>
      <td><button type="button" name="button" class="btn btn-outline-success" (click)="selectedQuestion(question)">Edit</button>
      <button type="button" name="button" class="btn btn-outline-danger" (click)="deleteSelectedQuestion(question.$key)">Delete</button></td>
    </tr>
  </tbody>
</table>
</div>
</div>
