<h1>All Questions in the Initial Assessment</h1>

<table>
  <tr>
    <th>Question Number</th>
    <th>Topic</th>
    <th>Question</th>
    <th>Correct</th>
    <th>Wrong #1</th>
    <th>Wrong #2</th>
    <th>Wrong #3</th>
  </tr>
  <tr *ngFor="let question of initialQuestionList | async">
    <td><b>{{question.question_number}}</b></td>
    <td>{{question.topic}}</td>
    <td>{{question.question}}</td>
    <td>{{question.correct}}</td>
    <td>{{question.wrong_1}}</td>
    <td>{{question.wrong_2}}</td>
    <td>{{question.wrong_3}}</td>
  </tr>
</table>
