<form class="form panel" action="index.html" method="post">
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="number">Question #</label>
    <div class="col-sm-8">
      <input #number id="number"type="number" name="" value="" class="form-control" placeholder="ex. 50">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="topic">Topic</label>
    <div class="col-sm-8">
      <input #topic id="topic"type="text" name="" value="" class="form-control" placeholder="ex. jQuery">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="question">Question</label>
    <div class="col-sm-8">
      <textarea rows="3" #question id="question"type="text" name="" value="" class="form-control" placeholder="ex. What is jQuery?	"></textarea>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="correct">Correct Answer</label>
    <div class="col-sm-8">
      <textarea rows="3" #correct id="correct"type="text" name="" value="" class="form-control" placeholder="ex. A JavaScript library	"></textarea>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="wrong1">Wrong Answer #1</label>
    <div class="col-sm-8">
      <textarea rows="3" #wrong1 id="wrong1"type="text" name="" value="" class="form-control" placeholder="ex. A JavaScript framework"></textarea>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="wrong2">Wrong Answer #2</label>
    <div class="col-sm-8">
      <textarea rows="3" #wrong2 id="wrong2"type="text" name="" value="" class="form-control" placeholder="ex. A Stylesheet to quickly produce beautiful websites	"></textarea>
    </div>
  </div>
  <fieldset disabled>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="wrong3">Wrong Answer #3</label>
      <div class="col-sm-8">
        <input #wrong3 id="wrong3"type="text" name="" value="I don't know" class="form-control" placeholder="XXXXXXXXXXXX">
      </div>
    </div>
  </fieldset>
</form>
