<h1>Welcome to the assessment!</h1>
<div *ngIf=!user>

<input type="text" name="email" placeholder="Example@email.com" [(ngModel)]="email">
<input type="password" name="password" placeholder="Password" [(ngModel)]="password">
<input type="text" name="firstName" placeholder="First name" [(ngModel)]="firstName">
<input type="text" name="lastName" placeholder="Last name" [(ngModel)]="lastName">

<button type="button" name="button" (click)="createAccount(email, password, firstName, lastName
)">create account</button>
</div>
<div *ngIf="user">
Hello {{(user | async)?.email}}!
</div>
